@import url(./__title/places__title.css);
@import url(./__place/places__place.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__image/places__image.css);
@import url(./__about/places__about.css);
@import url(./__website/places__website.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);

.places{
    margin: 0px 148px 108px 148px;
    display: grid;
    gap: 80px;
}

@media screen and (max-width: 1024px){
  .places{
    margin-right: 48px;
    margin-bottom: 92px;
    margin-left: 48px;
 }
}

@media screen and (max-width: 768px){
  .places{
    margin-right: 24px;
    margin-bottom: 88px;
    margin-left: 24px;
    gap: 72px;
  }
}


@media screen and (max-width: 320px){
  .places{
    margin-right: 0px;
    margin-bottom: 64px;
    margin-left: 0px;
    gap: 48px;
  }
}