.lead__subtitle{
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  margin: auto;
  text-align: center;
  margin-bottom: 64px;
  max-width: 640px;
}

@media screen and (max-width: 768px){
  .lead__subtitle{
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px){
  .lead__subtitle{
    font-size: 4.5vw;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 348px){
  .lead__subtitle{
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    max-width: 288px;
  }
}