@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);
@import url(./__background/cover__background.css);

.cover{
 margin: 108px 48px 92px 48px;
    
}


@media screen and (max-width: 1024px){
  .cover{
    margin-top: 92px;
    margin-left: 0px;
    margin-right: 0px;
   
  }
}


@media screen and (max-width: 768px){
  .cover{
    margin-top: 88px;
    margin-bottom: 88px;
 }
}

@media screen and (max-width: 320px){
  .cover{
    margin-top: 64px;
    margin-bottom: 64px;
    }
}